@font-face {
    font-family: 'TT Interphases Light';
    src: local('TT Interphases Light'), local('tt_interphases_light-webfont'),
        url('/public/fonts/ttinterphases/tt_interphases_light-webfont.woff2') format('woff2'),
        url('/public/fonts/ttinterphases/tt_interphases_light-webfont.woff') format('woff'),
        url('/public/fonts/ttinterphases/tt_interphases_light-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Regular';
    src: local('TT Interphases Regular'), local('tt_interphases_regular-webfont'),
        url('/public/fonts/ttinterphases/tt_interphases_regular-webfont.woff2') format('woff2'),
        url('/public/fonts/ttinterphases/tt_interphases_regular-webfont.woff') format('woff'),
        url('/public/fonts/ttinterphases/tt_interphases_regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Italic';
    src: local('TT Interphases Italic'), local('tt_interphases_italic-webfont'),
        url('/public/fonts/ttinterphases/tt_interphases_italic-webfont.woff2') format('woff2'),
        url('/public/fonts/ttinterphases/tt_interphases_italic-webfont.woff') format('woff'),
        url('/public/fonts/ttinterphases/tt_interphases_italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Bold';
    src: local('TT Interphases Bold'), local('tt_interphases_bold-webfont'),
        url('/public/fonts/ttinterphases/tt_interphases_bold-webfont.woff2') format('woff2'),
        url('/public/fonts/ttinterphases/tt_interphases_bold-webfont.woff') format('woff'),
        url('/public/fonts/ttinterphases/tt_interphases_bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Mono Regular';
    src: local('TT Interphases Mono Regular'), local('tt_interphases_mono_regular-webfont'),
        url('/public/fonts/ttinterphases-mono/tt_interphases_mono_regular-webfont.woff2') format('woff2'),
        url('/public/fonts/ttinterphases-mono/tt_interphases_mono_regular-webfont.woff') format('woff'),
        url('/public/fonts/ttinterphases-mono/tt_interphases_mono_regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Mono Bold';
    src: local('TT Interphases Mono Bold'), local('tt_interphases_mono_bold-webfont'),
        url('/public/fonts/ttinterphases-mono/tt_interphases_mono_bold-webfont.woff2') format('woff2'),
        url('/public/fonts/ttinterphases-mono/tt_interphases_mono_bold-webfont.woff') format('woff'),
        url('/public/fonts/ttinterphases-mono/tt_interphases_mono_bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes coin-loader {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}